<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Car Rental Test Suite" parallel="${parallelSuite}" thread-count="3">
    <listeners>
        <listener class-name="DynamicTest.DynamicTestNGConfig"/>
        <listener class-name="listener.TestNGListener"/>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.JUnitXMLReporter"/>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Car Rental Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.enterprise.com.tr/"/>
        <classes>
            ${testClasses}
        </classes>
    </test>
</suite>
